@import url("https://fonts.googleapis.com/css?family=Work Sans");
.home{
    position: relative;
    width: 100%;
    height: 100vh;
}

.home__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.home__title {
    text-align: center;
    bottom: 15%;
    right: 10%;
    margin: 20px;
}

.title {
   text-align: center;
   margin: 40px;
}

.featured {
    text-align: left;
    margin: 40px;
 }



/* .grid-container{
    font-family: 'Work Sans';
    color:#2E6B4C;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item{
    
    border: 1px solid #2E6B4C;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
 */

 .box-info{
    font-family: 'Work Sans';
    color:#2E6B4C;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-gap: 10px; */
    
}

.box-info-item{
    /* background-color: rgba(255,255,255,0.8); */
    /*border: 1px solid #2E6B4C;*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0  0 rgba(0, 0, 0, 0.19);
}

.box-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /*border: 1px solid;*/
    grid-gap: 60px;
}

.box1{
  font-family: 'Work Sans';
  background-color: #f3f2f2;
  /* width: 400px;
  height: 250px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border: 15px solid green; */
  padding: 50px;
  /* margin-left: 100px;
  margin-top: 50px; */
}

.faq-box{
    font-family: 'Work Sans';
    background-color: #f3f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.faq-mini-box{
    font-family: 'Work Sans';
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width:500px;
    /* height:100px; */
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;

}

.faq-1{
    margin-left: 5px;
    /* border-bottom: 1px solid; */
}

.faq-2{
    margin-left: 30px;
    /* border-bottom: 0.5px solid; */
    background-color: #f3f2f2;
}

.answer{
    color: #f3f2f2;
}

.box2{
    font-family: 'Work Sans';
    background-color: #f3f2f2;
    /* width: 400px;
    height: 250px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 15px solid green; */
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* margin-left: 900px; */
    
  }
.special-font{
    font-family: 'Work Sans';
    color: #59A659 !important;
}

.faq-font{
    font-family: 'Work Sans';
    color: #2E6B4C !important;
    margin-left: 400px;
    margin-bottom: 20px;
}

#show-info{
    border:1px solid;
    box-shadow: #f3f2f2;
}



.get_started{
    margin-left: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.learn_more{
    background-color: #f3f2f2;
    color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jafor{
  
  padding: 5px;
  width: 600px;
  height: 400px;
}

.abdullah{
  
    padding: 5px;
    width: 250px;
    height: 150px;
}

.frise{
  
    padding: 5px;
    width: 250px;
    height: 150px;
}

.nadia{
  
    padding: 5px;
    width: 250px;
    height: 150px;
}

.question{
    margin-left: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.progress-bar{
    height:10px;
    width: 100%;
    border:1px solid;
    
}

.progress-complete{
    height:10px;
    width: 93%;
    background-color:#2E6B4C;
    
}

.progress-complete-mini-1{
    height:10px;
    width: 10%;
    background-color:#2E6B4C;
    
}

.progress-complete-mini-2{
    height:10px;
    width: 25%;
    background-color:#2E6B4C;
    
}

.progress-complete-mini-3{
    height:10px;
    width: 5%;
    background-color:#2E6B4C;
    
}

.back-project{
    margin-left: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.heading-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.button-small{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.small-taka{
    width:40px;
    height:50px;
    margin-left:5px;

}

.small-bookmark{
    width:40px;
    height:50px;

}


/* .writing{
    display: grid;
    grid-template-columns: repeat(2,1fr);
} */