@import url("https://fonts.googleapis.com/css?family=Work Sans");
.welcome-title{
    margin-top: 40px;
    margin-left: 20px;
}

.edit{
    margin-left: 5px ;
}

.return{
    margin-left: 200px;
}

.camp-box-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid; */
    margin-left:20px !important;
    margin-top: 10px;
    grid-gap: 20px !important;
} 


.box-campaigns{
    font-family: 'Work Sans';
    background-color: #f3f2f2;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 15px solid green; */
    padding: 50px;
    /* margin-left: 100px;
    margin-top: 50px; */
}

.name{
    color:#2E6B4C;
}

.taka{
    font-family: 'Work Sans';
    width: 5em;
    padding: 5px;
    margin-left: 10px !important;
    margin-top: 20px;
    height: 40px;
    background-color: #2E6B4C;
    color: white;
}

.retro{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.button-types{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.campaigns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.buttons-public{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1px;
    margin-left: 80px;
    align-items: center;
}

.view{
    width: 250px;
    margin-left: 20px;
    background-color: #f3f2f2;
    color:black;
}

.create-camp{
    width: 300px;
    margin-left: 150px;
}

.search-form{
    font-family: 'Work Sans';
    background-color: white !important;
    padding: 0px 30px;
    border-radius: 10px;
    width: 50%;
    margin-left: 400px;
    color: #2E6B4C;

}