@import url("https://fonts.googleapis.com/css?family=Work Sans");
.camp-box-view-item{
    /* border: 1px solid; */
    margin-left:20px !important;
    margin-top: 10px;
} 
.box-campaigns-view{
    font-family: 'Work Sans';
    background-color: #f3f2f2;
    width:1500px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 15px solid green; */
    padding: 50px;
    /* margin-left: 100px;
    margin-top: 50px; */
}

.button-type{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
